* { margin: 0px; padding: 0px; }

.page {
    background-color: #fff;
    color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
 }

 .content {
    margin: 0px auto;
    min-width: 1100px;
    max-width: 1600px;
    display: block;
 }

 .header {
    background: #F2F2F2;
    position: relative;
    min-height: 600px;
    max-height: 756px;
    height: 700px;
    display: flex;
    align-items: center;
    overflow: hidden;
 }

 .header__title {
    font-weight: 600;
    font-size: 102px;
    line-height: 96px;
    width: 730px;
    margin-left: 64px;
    z-index: 2;
 }

 .logo {
    width: 183px;
    height: 32px;
 }

 .logo_place_header {
   left: 64px;
   top: 30px;
   position: absolute;
   background-image: url('../img/logo-black.svg');
 }

 .header__subtitle {
    width: 388px;
    height: 75px;
    bottom: 30px;
    left: 64px;
    position: absolute;
    z-index: 2;
 }

 .header__square-pic {
    background: #2F80ED;
    position: absolute;
    width: 568px;
    height: 568px;
    right: 0px;
    top: 64px;
    
 }

 .header__main-illustration {
    position: absolute;
    width: 765px;
    height: 608px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    background: url("../img/boy-and-dog.png");
 }

 .header__link {
     color:#2F80ED;
 }

.section { margin-top: 100px; }

.section-description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

 .two-columns {
     width: 80%;
     justify-content: space-between;
     flex-direction: row;
     display: flex;
     gap: 0px 56px
 }

 .two-columns__brief {
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #2F80ED;
    width: 175px;
    flex-shrink: 0;
 }

 .two-columns__main-text {
     width: 80%;
     
 }

 .two-columns__paragraph {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 30px;
 }

 .two-columns__paragraph:last-child { margin: 0px; }

 .two-colums__span-accent {
     font-weight: bold;
 }

 .section-techniques {
     margin: 100px auto 0px auto;
     width: 80%;
 }

 .section-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 115%;
    text-align: center;
    margin: 0px auto 20px auto;
    width: 60%;
 }

 .section-subtitle {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 0px auto;
    width: 60%;
 }

 .cards {
     display: flex;
     justify-content: flex-start;
     flex-direction: row;
     width: 920px;
     margin: 0px auto;
     flex-wrap: wrap;
     gap: 0px 100px;
 }

 .cards__item {
    width: 240px; 
 }

 .cards__image {
     margin: 60px 40px 43px 40px
 }

 .cards__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 115%;
    text-align: center;
    margin-bottom: 16px;
 }

 .cards__description {
    font-size: 18px;
    line-height: 128%;
    text-align: center;
 }

 .video__iframes {
   display:flex;
   justify-content: space-between;
   flex-direction: row;
   width: 1050px;
   margin: 50px auto 0px auto;

 }

 .video__iframe {
   width: 515px;
   height: 316px;
 }

.section-digits {
   margin: 100px auto 0px auto;
   width: 1100px
}
 

 .table__heading {
   font-weight: 600;
   font-size: 24px; 
   text-align: center;
   line-height: 115%;
   margin-bottom: 20px;
 }

 .table__text {
   font-size: 18px; 
   text-align: center;
   line-height: 120%;
   margin-bottom: 20px;
 }

 .table__text:last-child { 
    margin-bottom: 0px;
}

 .table {
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   margin: 0px auto;
   padding-top: 60px;
   flex-wrap: wrap;
   gap: 60px 33px;
 }

 .table__cell {
   width: 250px;
 }

 .table__theme_dark {
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   margin: 90px auto;
   padding-top: 80px;
   flex-wrap: wrap;
   gap: 80px 25px;
 }

 .section-kaufman {
    background-color: #000;
    padding: 90px 0px;
 }

 .section-title__theme_dark {
   font-weight: 600;
   font-size: 60px;
   line-height: 115%;
   text-align: center;
   margin-bottom: 20px;
   color:#F2F2F2;
 }

 .section-subtitle__theme_dark {
   font-size: 24px;
   line-height: 34px;
   text-align: center;
   font-family: 'Helvetica Neue';
   color:#F2F2F2;
   
 }

 .table__cell_theme_dark {
   width: 200px;

 }

 .table__theme_dark {
    padding-top: 80px;
    margin: 0px auto;
    width: 1100px;
 }

 .table__heading_theme_dark {
   font-weight: 600;
   font-size: 24px;
   line-height: 115%;
   line-height: 115%;
   color:#F2F2F2;
   margin-bottom: 20px;

 }

 .table__text_theme_dark {
   font-size: 18px;
   line-height: 120%;
   color:#F2F2F2;
 }

 .resourses__logo-zone {
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   margin: 80px auto 217px auto;
   width: 1100px;
 }

 .resourses__logo {
    width: 270px;
    height: 38px;
 }

 .footer {
   background-color: #000;
   color: #F2F2F2;
   height: 350px;
   padding: 60px 0px 40px 0px;
 }

 .footer__columns {
    display: flex;
    width: 90%;
    margin: 0px auto;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
 }

 .logo_place_footer {
   background-image: url('../img/logo-white.svg');
 }

.footer__author {
   font-size: 18px;
   line-height: 139%;
   padding: 18px 0px
}


.footer__column_heading {
   size: 18px;
   line-height: 30px;
   margin-bottom: 20px;
}

.footer__column_content_copyright {
   display: flex;
   flex-basis: 711px;
   flex-direction: column;
   justify-content: space-between;
}

.footer__column_link {
   font-size: 16px;
   line-height: 18px;
   display: flex;
   margin-bottom: 10px;
}

.footer__social_icon {
   width: 16px;
   height: 16px;
   margin-right: 8px;
}

.footer__column_links {
   padding-bottom: 16px;
}