.kaufman {
    background-color: #000;
    padding: 90px 0px;
    overflow: hidden;
    position: relative;
 }

 .kaufman_triangle {
     position: absolute;
     right: -210px;
     bottom: -210px;
     width: 995px;
     height: 1006px;
}