.resources {
   padding: 100px 0px 217px 0px;
}

.resourses__logo-zone {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 80px auto 0px auto;
    width: 1100px;
  }
 
  .resourses__logo {
     width: 270px;
     height: 38px;
  }