.section-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 115%;
    text-align: center;
    margin: 0px auto 20px auto;
    width: 60%;

 }

 .section-title__theme_dark {
    font-weight: 600;
    font-size: 60px;
    line-height: 115%;
    text-align: center;
    margin-bottom: 20px;
    color:#F2F2F2;
  }
