.table__heading {
    font-weight: 600;
    font-size: 24px; 
    text-align: center;
    line-height: 115%;
    margin-bottom: 20px;
  }
 
  .table__text {
    font-size: 18px; 
    text-align: center;
    line-height: 120%;
    margin-bottom: 20px;
  }
 
  .table__text:last-child { 
     margin-bottom: 0px;
 }

 .table {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0px auto;
    padding-top: 60px;
    flex-wrap: wrap;
    gap: 60px 33px;
  }
 
  .table__cell {
    width: 250px;
  }
 
  .table__theme_dark {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 90px auto;
    padding-top: 80px;
    flex-wrap: wrap;
    gap: 80px 25px;
  }

  .table__cell_theme_dark {
    width: 200px;
 
  }
 
  .table__theme_dark {
     padding-top: 80px;
     margin: 0px auto;
     width: 1100px;
  }
 
  .table__heading_theme_dark {
    font-weight: 600;
    font-size: 24px;
    line-height: 115%;
    line-height: 115%;
    color:#F2F2F2;
    margin-bottom: 20px;
 
  }
 
  .table__text_theme_dark {
    font-size: 18px;
    line-height: 120%;
    color:#F2F2F2;
  }