.two-columns {
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    gap: 0px 56px
}

.two-columns__brief {
   font-weight: normal;
   font-size: 18px;
   line-height: 120%;
   color: #2F80ED;
   width: 175px;
   flex-shrink: 0;
}

.two-columns__main-text {
    width: 80%;
}

.two-columns__paragraph {
   font-size: 24px;
   line-height: 34px;
   margin-bottom: 30px;
}

.two-columns__paragraph:last-child { margin: 0px; }

 .two-colums__span-accent {
     font-weight: bold;
 }
